* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    color: black;
}

html,
body {
    height: 100%;
    overflow: hidden;
    background: url(../IMG/blob-scene-haikei.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

main {
    display: grid;
    place-items: center;
    height: calc(100vh - 35px);
    width: 100%;
    overflow: hidden;
}

.all-box {
    margin: 20px;
    display: grid;
    place-items: center;
}

.box {
    display: flex;
    gap: 20px;
    margin: 20px 0;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

.traduzir-box,
.tradutor-box {
    height: auto;
    background-color: white;
    width: 500px;
    margin: 20px;
    border-radius: 5px;
    background-color: white;
}

.traduzir-box-insider,
.tradutor-box-insider {
    height: auto;
}

.textFrom,
.textTo {
    resize: none;
    width: calc(100% - 55px);
    background-color: transparent;
    outline: none;
    border: none;
    padding: 9px;
    font-size: 30px;
    overflow: hidden;
    margin: 0px 0px 10px 10px;
}

.button-translate {
    width: 200px;
    padding: 10px 15px;
    background-color: rgb(60, 60, 174);
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
}

.btn-aud {
    display: none;
    background-color: transparent;
    outline: none;
    border: none;
    justify-content: end;
}

.box-bottom {
    padding: 0 10px 5px;
    font-size: 11pt;
    justify-content: end;
    display: flex;
}

.box-bottom span svg {
    cursor: pointer;
}
.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 16px 0px 0px;
}
.btn-clear {
    background-color: transparent;
    font-size: 20px;
    outline: none;
    color: black;
    border: none;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
    font-weight: 750;
}

li {
    list-style: none;
    margin: 10px;
}
.list-select {
    width: 150px;
    background: white;
    padding: 3px 6px;
    border-radius: 20px;
   
}
select {
   background-color: transparent;
   color: black;
   border: none;
   font-size: 18px;
   outline: 0;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

option {
    background-color: white;
    color: black;
}

option:visited {
    background-color: pink;
    color: yellow;
}

footer {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 18px 0;
    width: 100%;
    bottom: 15px;
}

footer p {
    color: white;
}

@media screen and (max-width: 920px){
    .box {
        display: grid;
        padding-bottom: 25px;
    }
}