* {
    padding: 0;
    margin: 0;
}

.container-box {
    display: grid;
    place-items: center;
    height: 100dvh;
}
.box {
    display: flex;
    gap: 20px;
}
.traduzir-box, .tradutor-box{
    width: 520px;
    height: auto;
    border: 1px solid black;
}
.box-insider {
    height: auto;
}
textarea {
    position: relative;
    resize: none;
    width: calc(100% - 55px);
    background-color: transparent;
    outline: none;
    border: none;
    padding: 20px 10px;
    font-size: 30px;
    overflow: hidden;
    height: auto;
}
.button-translate {
    width: auto;
    padding: 7px 15px;
    background-color: rgb(46, 46, 149);
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
}
#text {
    position: relative;
    left: 0;
    right: 0;
    top: 0;
}
.box-bottom {
    padding: 0px 10px 5px;
    font-size: 11pt;
    text-align: end;
}
